{
  "printWidth": 140,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "ignore"
}
